/* Set background color */
body {
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh; /* Use viewport height for height */

  }
  
 
  
  

  
